body{
	margin: 0;
 background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
 display:flex;
 align-items:center;
 flex-direction: column;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 
 

}

.erro{
	position: relative;
	top: 150px;
	color: white;
}

.icone{
position: relative;
top:200px; 
width: 175px;
}

.texto{
	position: relative;
	font-size: 25px;
	top:220px;
	color:white

}

.titulo { 
color: white;
text-align: center;
font-size: 20px;


}

.voltar button{
position: relative;
bottom: -250px;
cursor: pointer;
background-color:#c8a2c8 ;
font-size: 16px;
font-family: arial;
outline: none;
color: white;
border: none;
border-radius: 2px 2px 2px 2px;
padding: 10px;
width:150px;
	
}
.voltar a{
color: white;
}

.voltar button:hover{
background-color:  #7d4a7d;
}

.caixalogin{
top: 50px;	
background-color: #ffffff80;
width: 300px;
padding: 50px;
border-radius: 12px 12px 12px 12px;
position:relative; 
}

.caixalogin h1{

color: #935696;
text-align: center;
margin: 20px 0 30px;
font-family: arial;
 


}

.caixalogin .campo input{
 width: 100%;
 padding: 10px;
 font-size:17px;
 background: transparent;
 color:#935696 ;
 border:none;
 outline: none;
 border-bottom: 1px solid #935696;
 margin-bottom: 40px;
 box-sizing: border-box;


}
.caixalogin .campo{
position: relative;




}

.caixalogin .campo input:focus~label,
.caixalogin .campo input:valid~label
{
top: -28px;

}




.caixalogin .campo label{
position: absolute;
top: 0;
left: 0;
padding: 10px;
font-size: 20px;
font-style: arial;
color: #935696;
font-weight: bold;



}

.caixalogin button{
width: 100%;
height: 40px;
cursor: pointer;
background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
font-size: 16px;
font-family: arial;
outline: none;
color: white;
border: none;
border-radius: 2px 2px 2px 2px;
}

.paragrafo{
text-align: center;
font-size: 17px;
font-family: arial;
color:white;
font-weight: bold;
}

.imagem img {
	width: 60%;
	

}
.imagem{
background-color: #935696;
width:100px;
height: 100px;
left: 0 ;
right: 0;
margin: auto;
top: -10%;
position: absolute;
border-radius: 50%;
display: flex;
align-items: center;
justify-content:center;


}

 a{
 	
 	font-weight: bold;
 	text-decoration: none;
 	color: #c485c7;
 
 }

 a:hover{
 color:#6f2c73;
 }   
  button:focus{
 background-color: #935696;
 } 
 
.caixacadastrar{
top: 50px;	
background-color: #ffffff80;
width: 600px;
padding: 50px;
border-radius: 12px 12px 12px 12px;
position:relative; 
}  

.caixacadastrar h1{

color: #935696;
text-align: center;
margin: 20px 0 30px;
font-family: arial;
 


}
.caixacadastrar .campo input{
 width: 100%;
 padding: 10px;
 font-size:17px;
 background: transparent;
 color:#935696 ;
 border:none;
 outline: none;
 border-bottom: 1px solid #935696;
 margin-bottom: 40px;
 box-sizing: border-box;


}
.caixacadastrar .campo{
position: relative;




}
.caixacadastrar .campo input:focus~label,
.caixacadastrar .campo input:valid~label
{
top: -28px;

}


.caixacadastrar .campo label{
position: absolute;
top: 0;
left: 0;
padding: 10px;
font-size: 20px;
font-style: arial;
color: #935696;
font-weight: bold;



}

.caixacadastrar button{
width: 100%;
height: 40px;
cursor: pointer;
background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
font-size: 16px;
font-family: arial;
outline: none;
color: white;
border: none;
border-radius: 2px 2px 2px 2px;
}

.rodape{
top:0;	

text-align: center;

}

.menu{
background-color:#935696;
width:100%;
align-items: center;
position: relative;


}

.menu a:hover{

background-color:#c8a2c8;
}


.menu a{

    display: block;
    padding:20px;
   
}


li {
	
display: inline;
float: left;

}

ul{
background-color:#935696;
width:100%;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;

}
li a {
    display: block;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.menu img{
	
width:35%
}



.campobusca{
padding: 10px;
position:relative;
margin-left:900px;
display: flex;
justify-content:center; 
align-items: center;
top: -65px;
}

.campobusca img{
width: 20px;
}

.campobusca input{
width:200px;
height: 40px;
border-radius: 10px 0px 0px 10px;
border: none;
outline: none;	
padding-left: 10px;
color: #935696;
font-size: 14px;



}
.campobusca button{

width:90px;
height:42px;
border-radius: 0px 10px 10px 0px;
border: none;
outline: none;	
background-color:#c8a2c8 	
}
.campobusca button:hover{
background-color:#7d4a7d;
}

.caixa{
display: grid;
grid-template-columns: auto;

}
.caixa-itens{
top: 50px;	
background-color: #ffffff80;
width: 600px;
padding: 50px;
border-radius: 12px 12px 12px 12px;
position:relative;
margin:5px; 	

}
.caixa-itens p{

font-size: 20px;
font-style: arial;
color: #935696;
font-weight: bold;



}
.caixa-itens input{
width: 100%;
 padding: 10px;
 font-size:17px;
 background: transparent;
 color:#935696 ;
 border:none;
 outline: none;
 border-bottom: 1px solid #935696;
 margin-bottom: 40px;
 box-sizing: border-box;
}

.caixa-itens textarea{
    width: 100%;
     padding: 10px;
     font-size:17px;
     background: transparent;
     color:#935696 ;
     border:none;
     outline-color: #935696;
     border-bottom: 1px solid #935696;
     margin-bottom: 10px;
    
    }

.caixa-itens button{
cursor: pointer;
background-color:#c8a2c8 ;
font-size: 16px;
font-family: arial;
outline: none;
color: white;
border: none;
border-radius: 2px 2px 2px 2px;
padding: 10px;
}
.caixa-itens button:hover{
background-color: #7d4a7d;
}
.foto{
width:120px;
height:125px;
border-radius:50%;

}
.subtitulo{
font-size: 26px;
color: white;
font-family:georgia;
}
.menuinferior {
display: grid;
grid-template-columns: repeat(2, max-content);
width: 90px;
height: 50px;
justify-items: center;
align-items: baseline;
justify-content: center;
top:400px;
 position: fixed;
}


.menuinferioritens {
	
    padding:10px;
    margin: 5px;
    background-color: white;
    border: none; 
    
}
 .perfil h2{
display: flex;
color: white;
font-size: 30px;
text-align: center;
top: 200px;
align-content: stretch;
justify-content: space-evenly;
align-items: center;





}
.perfil{
display: flex;
float: left;

}
.perfil img{
margin: 8px;
}


.paragrafoscentrais{
text-align: center;
color: white;
font-size: 20px;
}
footer{
text-align: center;

}


.titulol{
text-align: center;
}
.botaoedit button{
cursor: pointer;
background-color:#c8a2c8 ;
font-size: 16px;
font-family: arial;
outline: none;
color: white;
border: none;
border-radius: 2px 2px 2px 2px;
padding: 8px;
width:140px;
text-align: center;
height: 100%;

}
.botaoedit a{
color: white;
}

.botaoedit button:hover{
background-color:  #7d4a7d;
}




.mensagem {
  color: #6f2c73;
  font-size: 23px;
  text-align: center;
  

}
.container{
    display: flex;
    align-items: center;
   
}
.item{
    margin: 15px;

}

.icones {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;

}

.icones a{
    margin: 15px;
    color:  #7d4a7d;
}

.icones a :hover{
    color:#c8a2c8 ;
    
    }

.item a{
    font-size: 22px; 
   
}

footer {
    margin: auto;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: #6f2c73;
    font-size: 18px;
}