<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8"/>
 <title>edicão</title>
 <link href="../static/icone/fontawesome/css/all.css" rel="stylesheet">
 <link rel="stylesheet" href="../static/css/estilo.css" type="text/css">
 
</head>

<body >
   {% include ('menu.html') %}

   
  <h2 class="subtitulo">Edite seu perfil</h2>
  <p class="paragrafo">Preencha os campos que deseja alterar ! </p>
  
  <div class="caixa">
     <div class="caixa-itens">
        <form action="{{ url_for('perfil_edicao') }}" method="post">
       <p>Nome</p>
       <input  type="text"  name="nome" value="{{nome}}">
       <p>Senha</p>
       <input  type="password"  name="senha1">
       <p>Confirme a senha</p>
       <input  type="password"  name="senha2">
       <button type="submit" >Salvar</button>
       </form>
    </div>
  
   <div class="caixa-itens">
        <form action="{{ url_for('perfil_foto') }}" method="post"
        enctype="multipart/form-data">
        <p>Foto de perfil (tamanho máximo: 128 KB)</p>
        <img  class="foto" src="{{url_for('perfil_avatar',login=login)}}">
       <input  type="file"  name="foto" accept="imagem/png,imagem/jpg">
       <button type="submit" >Enviar</button>
       </form>
    </div>
  
  
  </div>
 </body>
</html>
     