
<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8"/>
 <title>Erro de autenticação!</title>
 <link href="../static/icone/fontawesome/css/all.css" rel="stylesheet">
 <link rel="stylesheet" href="../static/css/estilo.css" type="text/css">
</head>

<body >
   
	<img class="icone" src="../static/icone/botao-x.png">
	<h1 class="texto" >Erro de autenticação,tente de novo!</h1>
		
	<div class="voltar">
	<button type="submit" ><a href="{{url_for('login')}}">Voltar</button></a> 
	</div>
	
	

</body>
