<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8"/>
 <title>index</title>
 <link href="../static/icone/fontawesome/css/all.css" rel="stylesheet">
 <link rel="stylesheet" href="../static/css/estilo.css" type="text/css">
</head>

<body >
   
   <ul class="menu">
   <li><a href=""><i class="fas fa-home fa-2x"></i>   início</a></li>
   <li><a href=""><i class="fas fa-user fa-2x"></i>   perfil </a></li>
   <li><a href=""><i class="fas fa-comment-alt fa-2x"></i> escrever</a></li>
   <li><a href="{{url_for('sair_web')}}"><i class="fas fa-sign-out-alt fa-2x"></i> sair</a></li>
   
   
   
  </ul>

   
   
   <form >
   <div class="campobusca">
   <input  type="text"  name="busca" placeholder="Pesquisar"> 
   <button type="submit"><a  href=""><img src="../static/icone/pesquisa.png" ></a></button>
   </form>
   </div>
   </form>
   
 
</body>